
/* Test css link */
h1 {
  color: blue;
}
/* Flexbox Row */

.flex-container_main {
  display: flex;
  flex-wrap: wrap;
  width: 1170px;
  height: auto;
  margin: auto;
  align-items: flex-start;
  justify-content: center;
}

.flex-container_row1 {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
}

.flex-container_row1 > div {
  /* margin: 10px; */
  padding: 10px;
}

/* header logo */
.aqua {
  text-align: center;
  color: Mediumaquamarine;
}

.black {
  color: black;
}

/* Columns */

.flex-container_column1 {
  display: inline-flex;
  width: 630px;
  height: 900px;
  flex-direction: column;
  flex-direction: column;
  font-family: Georgia;
  font-size: 30px;
  align-items: center;
}

.flex-container_column1 > div {
  margin: 10px;
  text-align: center;
  font-size: 17px;
}

.flex-container_column2 {
  display: inline-flex;
  width: 300px;
  height: 400px;
  flex-direction: column;
  font-family: Georgia;
  font-size: 17px;
}

.flex-container_column2 > div {
  width: 300PX;
  height: 350px;
  font-size: 17px;
  margin: 10px 10px;
}

.flex-container_column3 {
  display: inline-flex;
  width: 240px;
  height: 700px;
  flex-direction: column;
}

.flex-container_column3 > div {
  width: 220px;
  height: 200px;
  text-align: center;
}

/* Class Info */

.push {
  margin-left: auto;
}

.hline {
  background-image: url("../../resources/images/dinnerWine.png");
  height: 275px;
  margin-top: 5px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
}

.grow1 {
  flex-grow: 2;
}

.wid50 {
  width: 50%;
}

.rightside {
position: sticky;
}

/* ID info */

#earth {
  background-image: url("../../resources/images/fall_season.png");
  padding: 55px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

#camera {
  background-image: url("../../resources/images/hipsterCamMan.png");
  padding: 55px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

#fbi {

}

#cats {
  background-image: url("../../resources/images/cat_ceo.png");
  padding: 55px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

#cookie {

}
/* Flexbox Items */
.box0 {

}

.box1 {

}

.box2 {

}

.box3 {

}

.box4 {

}

.box5 {

}

/* .flex-container_column4 {
  display: flex;
  width: 300px;
  height: 300px;
  margin: 10px
  flex-direction: column;
  background-color: purple;
}

.flex-container_column4 > div {
  background-color: #f1f1f1;
  width: 280px;
  height: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.flex-container_column5 {
  display: flex;
  width: 300px;
  height: 300px;
  margin: 10px
  flex-direction: column;
  justify-content: flex-start;
  background-color: yellow;
}

.flex-container_column5 > div {
  background-color: #f1f1f1;
  width: 280px;
  height: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.flex-container_column6 {
  display: flex;
  width: 300px;
  height: 300px;
  margin-top: auto;
  margin-right: auto;
  flex-direction: column;
  justify-content: flex-start;
  background-color: maroon;
}

.flex-container_column6 > div {
  background-color: #f1f1f1;
  width: 280px;
  height: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
} */
